.background {
  padding-left: 25%;
  position: relative;
}

.todo {
  width: 22%;
  padding: 1rem;
  font-family: Josefin Sans;
  font-weight: 700;
  letter-spacing: 15px;
  font-size: 18px;
  position: absolute;
  top: 12%;
  right: 36%;
  display: flex;
  justify-content: space-between;
}

.moon {
  position: absolute;
  right: 0;
  top: 35%;
}

@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {

}
